.tweet-header {
    background-color: #eee;
    /* border: 1px solid #141C26; */
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.tweets {
    margin: 1em 0em;
    border: 1px solid #141C26;
    border-radius: 25px;
}

.tweet-footer p {
    float: left;
    margin: 0.5em;
}

.tweet-header img,
p,
h2 {
    display: inline-block;
}

.tweet-header img {
    float: left;
    margin: 1em;
}

.tweet-header h2 {
    float: left;
}

.tweets .tweet-header {
    opacity: 0.5;
}

.tweets:hover .tweet-header {
    opacity: 1;
}
.tweets:hover {
    border: 2px solid #141C26;
    box-shadow: 5px 10px rgb(20, 28, 38, 0.5);
}
.tweet-header p {
    margin: 1em;
    float: right;
}

.tweets footer {
    border-top: 1px solid #141C26;
}

.tweets .tweet-body {
    border-top: 1px solid #141C26;
}

.tweets .tweet-body p {
    width: 100%;
    text-align: left;
    padding-left: 0.5em;
    margin: 1.75em 0em;
}

.footer-icons {
    margin: 0.5em;
    float: right;
    visibility: hidden;
}

.tweets:hover .footer-icons {
    visibility: visible;
}